<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th class="text-left th-height">Courses<button  class="add-button" ng-click="addCourse()">+</button></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="course in courses" on-finish-school-render="ngSchoolRepeatFinished" ng-click="courseSelected(course)"> 
            <td>
                <div class="info-row-school-aside">
                    <canvas id=canvas-course-{{course.id}} class="img-fluid info-minor" width="33" height="42"></canvas>
                    <div class="info-container">
                            <span class="text-left">{{course.courseName}}</span>
                            <span class="text-left">no of students&#58;&nbsp;{{course.numberOfStudentsForCourse}}</span>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
