<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th class="text-left th-height">Students<button class="add-button">+</button></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="student in students" on-finish-school-render="ngSchoolRepeatFinished"  ng-click="studentSelected(student);" > 
            <td>
                <div class="info-row-school-aside">
                    <canvas id=canvas-student-{{student.id}} class="img-fluid info-minor" width="33" height="42"></canvas>
                    <div class="info-container">
                        <span class="text-left">{{student.studentName}}</span>
                        <span class="text-left">{{student.studentPhone}}</span>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
